  @import url('./global.css');
  .footer {
    background-color:var(--background-color-global);
    display: block;
    height: auto;
    width:100%;
    align-items:center;
    margin-top: auto;
    margin-bottom: 0px;
  }
 .footer ul {
  background-color:var(--background-color-global);
    display: flex;
    margin-right: 2%;
    justify-content: space-around;  
  }
 .footer li {
    background-color:var(--background-color-global);
    text-align: center;
    align-self: center;
    margin: 15px;
  }
  .footer span{
    background-color:var(--background-color-global);
    color: var(--color-global);
  }
  .footer p {
    color: var(--color-global);
    background-color:var(--background-color-global);
  }
 .footer i{
    width: 40px;
    height: 40px;
    display:flex;
    border-radius: 20px;
    background-position:center;
  }
 .footer i:hover{
    width: 48px;
    height: 48px;
    border-radius: 24px;
  }
  #ai{
    background-image: url('../img/gpt.webp');
    background-size: 100%;
  }
  #dl{
    background-image: url(../img/dl.jpg);
    background-size: 140%;
  }
  #baa {
    background-image: url('../img/baa.png');
    background-size: 160%;
  }
#bier{
    background-image: url('../img/bier.png');
    background-size: 120%;
}
#tg {
  background-image: url('../img/tg.webp');
  background-size: 100%;
}
#vk {
  background-image: url('../img/vk.png');
  background-size: 100%;
}
#twitter {
  background-image: url('../img/twitter.png');
  background-size: 160%;
}
#bvb {
  background-image: url('../img/bvb.webp');;
  background-size: 180%;
}
